In [3]:
a=10
b=10
c=a+b
print(c)

20

In [4]:
10+10

20

In [5]:
a=10
b=20
c=a+b
print('the sum of a and b is',c)

the sum of a and b is 30

In [6]:
x=10
y=20
z=x+y
print("the sum will be:",z)

the sum will be: 30

In [7]:
x=10
y=20
z=x+y
print(f"the sum of {x} and {y} will be:",z)

the sum of 10 and 20 will be: 30

In [9]:
f=20
float(a)

20.0

In [13]:
g=10
print(g)
print(float(g))
print(str(g))

10
10.0
10

In [16]:
j='10'
x='10'
z=j+x
print(z)

1010

In [17]:
a=10
b=str(a)
c=20
d=str(c)
e=b+d
print(e)

1020

In [1]:
a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))
c=a+b
print(f"The sum of {a} and {b} will be: ",c)

The sum of 10 and 20 will be:  30

In [2]:
p=float(input("Enter the principle: "))
r=float(input("Enter the rate of interest: "))
t=float(input("Enter the time of investment:"))
si=(p*r*t)/100
print(f"The SI for principle {p}, rate {r}, and time {t} will be:", si)

The SI for principle 50023.23, rate 5.36, and time 9.0 will be: 24131.206152000002

In [4]:
print("Hello World")

Hello World

In [5]:
i=20
while i>=1:
    print(i)
    i=i-1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [6]:
i=20
while i>0:
    print(i)
    i=i-2

20
18
16
14
12
10
8
6
4
2

In [7]:
i=0
a=0
while a< 5:
    i=i+a
    a=a+1
print(i)

10

In [8]:
counter = 0

while counter < 3:
    print('Inside loop')
    counter = counter + 1
else:
    print('Inside else')

Inside loop
Inside loop
Inside loop
Inside else

In [14]:
counter = 0

while counter < 3:
    print('Inside loop')
    counter = counter + 1
    break
else:
    print('Inside else')

Inside loop

In [13]:
a=10
b=12.23
c="hello"
print(f'{a} \n{b} \n{c}')

10
12.23
hello

In [15]:
a='this is a new statement'
val=a.split(" ")
print(val)

['this', 'is', 'a', 'new', 'statement']

In [19]:
a='this is a new statement'
val=a.split(" ",2)
print(val)

['this', 'is', 'a new statement']

In [23]:
x,y,z= input("Enter the three numbers: ").split()
print(f'The first number is {x}.')
print(f'The second number is {y}.')
print(f'The third number is {z}.')
print(f'The total sum will be {x+y+z}')

The first number is 10.
The second number is 20.
The third number is 30.
The total sum will be 102030

In [28]:
a='max'
b=19
print("hello I'm ",a,"I'm ",b," years old")
print(f"hello I'm {a} I'm {b} years old")

hello I'm  max I'm  19  years old
hello I'm max I'm 19 years old

In [29]:
print("This is the first statement", end=" ")
print("This is the second statement")

This is the first statement This is the second statement

In [1]:
print("first", "second", "third", sep="-")

first-second-third

In [32]:
x=10
y=20
z=30
print(x,y,z,sep="*")

10*20*30

In [33]:
x,y,z=input("Enter the date").split()
print(x,y,z,sep='-')

10-07-2014

In [34]:
a=10
b=3
c=a/b
print(f'{c:.2f}')

3.33

In [50]:
a=10.2345
b=45.321
c=a*b
print(f'by multiplying {a:.2f} by {b:.2f} we get {c:.2f}')

by multiplying 10.23 by 45.32 we get 463.84

In [40]:
name, city, year=input("Enter the details: ").split()
print(name,city,year, sep="\n")

ram
lko
2020

In [43]:
first='ram'
last='charan'
print(f'{first:20} {last}')

ram                  charan

In [44]:
print(f"{'Name':10} {'Maxwell':>10}")
print(f"{'Age':10} {'19':>10}")
print(f"{'Nationality':10} {'Indian':>10}")

Name          Maxwell
Age                19
Nationality     Indian

In [45]:
x=10
y=20
z=30
print(x,y,z,sep="-")

10-20-30

In [46]:
print(f"{'Name':<10} {'Anonymous':>10}")
print(f"{'Age':<10} {'19':>10}")
print(f"{'occupation':<10} {'Service':>10}")

Name        Anonymous
Age                19
occupation    Service

In [56]:
len, hei=input("Enter both the sides: ").split()
len1=float(len)
hei1=float(hei)
hypt= (len1**2 + hei1**2)**0.5
print(f"The hyptonuse for length {len1:.2f} and height {hei1:.2f} \nwill be {hypt:.2f}")

The hyptonuse for length 10.12 and height 20.12
will be 22.53

In [1]:
a=10.2345
b=45.321
c=a*b
print(f'by multiplying {a:.2f} by {b:.2f} we get {c:.2f}')

by multiplying 10.23 by 45.32 we get 463.84

In [2]:
a=input("Enter first number:")
b=input("Enter second number:")
a1=float(a)
b1=float(b)
c=a1/b1
print(f'The division of {a1:.2f} by {b1:.2f} will give {c:.2f}')

The division of 10.24 by 12.37 will give 0.83

In [6]:
print(f"{'Name':<10}{'Andrew':>10}")
print(f"{'Age':<10}{'19':>10}")
print(f"{'City':<10}{'Amsterdam':>10}")
print(f"{'Country':<10}{'Netherlands':>10}")

Name          Andrew
Age               19
City       Amsterdam
Country   Netherlands

In [8]:
name=input("Enter the name")
age=input("Enter the age")
city=input("Enter the city")
country=input("Enter the country")
print(f"{'NAME':>10}{name:>10}")
print(f"{'AGE':>10}{age:>10}")
print(f"{'CITY':>10}{city:>10}")
print(f"{'COUNTRY':>10}{country:>10}")

      NAME     Smith
       AGE        29
      CITY   Seattle
   COUNTRY       USA

In [9]:
name,age,city,country=input("Enter the details").split()
print(f"{'NAME':>10}{name:>10}")
print(f"{'AGE':>10}{age:>10}")
print(f"{'CITY':>10}{city:>10}")
print(f"{'COUNTRY':>10}{country:>10}")

      NAME     Smith
       AGE        29
      CITY   Seattle
   COUNTRY       USA