In [4]:
raju={
    'first name': 'Rajesh',
    'last name': 'Kumar',
    'age': 25,
    'address':{
        'house no': 123,
        'street': 'xyz',
        'city': 'Bangalore',
        'state': 'Karnataka',
    }
}
print(raju)
print(raju['first name'])
print(raju['address']['city']) 
print(raju['address'])

{'first name': 'Rajesh', 'last name': 'Kumar', 'age': 25, 'address': {'house no': 123, 'street': 'xyz', 'city': 'Bangalore', 'state': 'Karnataka'}}
Rajesh
Bangalore
{'house no': 123, 'street': 'xyz', 'city': 'Bangalore', 'state': 'Karnataka'}

In [4]:
print(raju.get('middle name'))

None

In [5]:
print(raju.get('middle name', 'not found'))

not found

In [6]:
print(raju.keys())

dict_keys(['first name', 'last name', 'age', 'address'])

In [7]:
print(raju.values())

dict_values(['Rajesh', 'Kumar', 25, {'house no': 123, 'street': 'xyz', 'city': 'Bangalore', 'state': 'Karnataka'}])

In [8]:
print(raju.items())

dict_items([('first name', 'Rajesh'), ('last name', 'Kumar'), ('age', 25), ('address', {'house no': 123, 'street': 'xyz', 'city': 'Bangalore', 'state': 'Karnataka'})])

In [1]:
print(raju['middle name'])

NameError: name 'raju' is not defined

In [18]:
raju['age']=26
print(raju)

{'first name': 'Rajesh', 'last name': 'Kumar', 'address': {'house no': 123, 'street': 'xyz', 'city': 'Bangalore', 'state': 'Karnataka'}, 'age': 26}

In [19]:
print(raju.pop('age'))

26

In [5]:
print(raju)

{'first name': 'Rajesh', 'last name': 'Kumar', 'age': 25, 'address': {'house no': 123, 'street': 'xyz', 'city': 'Bangalore', 'state': 'Karnataka'}}

In [6]:
raju['middle name']='Arun'
raju['address']['country']='India'
raju['phone']= '1234567890'
print(raju)

{'first name': 'Rajesh', 'last name': 'Kumar', 'age': 25, 'address': {'house no': 123, 'street': 'xyz', 'city': 'Bangalore', 'state': 'Karnataka', 'country': 'India'}, 'middle name': 'Arun', 'phone': '1234567890'}

In [7]:
for key in raju:
    print(key)

first name
last name
age
address
middle name
phone

In [8]:
for value in raju.values():
    print(value)

Rajesh
Kumar
25
{'house no': 123, 'street': 'xyz', 'city': 'Bangalore', 'state': 'Karnataka', 'country': 'India'}
Arun
1234567890

In [9]:
for k,v in raju.items():
    print(k,v)

first name Rajesh
last name Kumar
age 25
address {'house no': 123, 'street': 'xyz', 'city': 'Bangalore', 'state': 'Karnataka', 'country': 'India'}
middle name Arun
phone 1234567890

In [14]:
# cretae a dictionary of 5 employees of account dept in a ACME company
acme={
    'accounts':{
    }
}

for i in range(5):
    name=input('Enter name: ')
    desig=input('Enter designation: ')
    sal=int(input('Enter salary: '))
    acme['accounts'][f'emp{i}']={
        'name': name,
        'designation': desig,
        'salary': sal, 
    }

In [15]:
from pprint import pp

In [16]:
pp(acme)

{'accounts': {'emp0': {'name': 'praveen', 'designation': 'os', 'salary': 10000},
              'emp1': {'name': 'suyash',
                       'designation': 'chos',
                       'salary': 400000},
              'emp2': {'name': 'ayushi', 'designation': 'xyz', 'salary': 30000},
              'emp3': {'name': 'shraddha',
                       'designation': 'mr',
                       'salary': 50000},
              'emp4': {'name': 'summit',
                       'designation': 'cwm',
                       'salary': 20000}}}

In [19]:
salary=0
for i in range(len(acme['accounts'])):
   acme['accounts'][f'emp{i}']['salary']
   salary=salary+acme['accounts'][f'emp{i}']['salary']
print(salary)

510000

In [23]:
# create a contact dictionary and
# let user check if a contact exists or not
# if yes, print the conatct details
# if no, ask user to add the contact
contacts={'Police': 112}
while True:
    contact_name=input('Enter contact name: ')
    if contact_name in contacts:
        print('found contact')
        print('name', contact_name)
        print('number', contacts[contact_name])
    elif contact_name =='exit':
        break
    else:
        print('contact not found')
        print('add contact')
        contact_number=input('Enter contact number: ')
        contacts[contact_name]=contact_number
        print('contact added')