In [1]:
name= input("Enter your name: ")
city= input("Enter your city: ")

In [2]:
a=10
b=20
a+b

30

In [3]:
x=int(input("Enter first number: "))
y=int(input("Enter second number: "))
print("Sum of two numbers is: ",x+y)

Sum of two numbers is:  30

In [4]:
a='10'
int(a)

10

In [5]:
p=int(input("Enter principle amount: "))
r=float(input("Enter rate of interest: "))
t=int(input("Enter time: "))
si=p*r*t/100

In [6]:
a=int(input("Enter first number: "))

In [7]:
print("this is a string")

this is a string

In [8]:
print(a,b,x,y,p,r,t,sep="\n")

10
20
10
20
5000
4.0
3

In [9]:
print('hi', end=" ")
print("there")

hi there

In [10]:
print(f'adding {x} and {y} gives {x+y}')

adding 10 and 20 gives 30

In [11]:
a=10
b=3
print(f'{a} divided by {b} gives {a/b}')

10 divided by 3 gives 3.3333333333333335

In [12]:
a=10
b=3
print(f'{a} divided by {b} gives {a/b:.2f}')

10 divided by 3 gives 3.33

In [13]:
a=10
b=3
print(f'{a} divided by {b} gives {a/b:.200f}')

10 divided by 3 gives 3.33333333333333348136306995002087205648422241210937500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [14]:
age=20
address="krishna nagar"
print(f'name     {name}')
print(f'city     {city}')
print(f'age      {age}')
print(f'address  {address}')

name     utkarsh
city     lucknow
age      20
address  krishna nagar

In [15]:
print(f'{"name":10} {name:>20}')
print(f'{"city":10} {city:>20}')
print(f'{"age":10} {age:>20}')
print(f'{"address":10} {address:>20}')

name                    utkarsh
city                    lucknow
age                          20
address           krishna nagar

In [16]:
print(f'{"name":10} {name:^20}')
print(f'{"city":10} {city:^20}')
print(f'{"age":10} {age:^20}')
print(f'{"address":10} {address:^20}')

name             utkarsh
city             lucknow
age                 20
address       krishna nagar

In [ ]:
x=float(input(" Enter length: "))
y=float(input(" Enter breadth: "))
z=x**2+y**2
hyp=z**0.5
print(f'{"length":10} {x:>20}')
print(f'{"breadth":10} {y:>20}')
print(f'{"hypotenuse":10} {hyp:>20.2f}')

length                     20.0
breadth                    40.0
hypotenuse                44.72