In [3]:
list1=[1,2,3,[1,2,3],'a','b','c',['a','b','c']]
print(list1)

[1, 2, 3, [1, 2, 3], 'a', 'b', 'c', ['a', 'b', 'c']]

In [4]:
for i in range(len(list1)):
    print(list1[i])

1
2
3
[1, 2, 3]
a
b
c
['a', 'b', 'c']

In [6]:
a=[]
print(a)

[]

In [10]:
b=[1,2,3,4]
for j in range(len(b)):
  c=b[j]
  print(c)

1
2
3
4

In [15]:
a=input("Enter the data")
if(a.isalpha()):
    print(a)
else:
    print("number")

number

In [18]:
arr=[1,2,3,44,5]
for i in range(len(arr)):
    c=arr[i]
    print(c)

1
2
3
44
5

In [19]:
groc=['milk','cheese','bread']
print(groc)

['milk', 'cheese', 'bread']

In [20]:
groc.append('butter')
print(groc)

['milk', 'cheese', 'bread', 'butter']

In [21]:
groc.insert(1,'sauce')
print(groc)

['milk', 'sauce', 'cheese', 'bread', 'butter']

In [23]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
list1.extend(list2)
print(list1)
list2.append(list1)
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[6, 7, 8, 9, 10, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

In [24]:
if 6 in list1:
    print("yes")
else:
    print("no")

yes

In [25]:
list4=[1,2,3,4,5,6,7,8,9,10]
list4.pop()
print(list4)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
list4.pop(2)
print(list4)

[1, 2, 4, 5, 6, 7, 8, 9]

In [28]:
list4.pop(2)
print(list4)

[1, 2, 5, 6, 7, 8, 9]

In [32]:
list5=[1,2,3,4,5,6,7,8,9,10]
for j in range(list5[4],list5[9]):
    print(list5[j])

6
7
8
9
10

In [35]:
list6=[1,2,3,4,5,6,7,8,9,10]
for k in range(list6[6],list6[9]):
    list6.pop()
print(list6)

[1, 2, 3, 4, 5, 6, 7]

In [37]:
arr=[1,2,3,4,5]
arr.reverse()
arr

[5, 4, 3, 2, 1]

In [41]:
names=['akash','sachin','rahul','saurav','1','3']
names.sort()
print(names)
names.reverse()
print(names)

['1', '3', 'akash', 'rahul', 'sachin', 'saurav']
['saurav', 'sachin', 'rahul', 'akash', '3', '1']

In [42]:
numbers=[1,1,2,3,4,4,4,5,5,5,5]
numbers.count(5)

4

In [45]:
houses=['krishna nagar','alambagh','transport nagar','hazratganj']
for i in range(len(houses)):
    print(houses[i])

krishna nagar
alambagh
transport nagar
hazratganj