In [4]:
numbers=[1,2,3,4,5,6,7,8,9,10]
for num in numbers:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [7]:
print(len(numbers))

10

In [8]:
a=[1,2,3,4,5,6,7,8,9]
for i in a:
    print(i)
print(f"the length will be {len(a)}")

1
2
3
4
5
6
7
8
9
the length will be 9

In [9]:
movies=['first', 'second','third','forth']
for i in movies:
    print(i,end=" ")

first second third forth

In [11]:
movies=['first', 'second','third','forth']
print(movies[0:3])

['first', 'second', 'third']

In [12]:
movies=['first', 'second','third','forth','eleventh']
for i in movies:
    print(i,end=" ")
print("\n")
print(len(movies))
print("\n")
for i in movies:
    print(len(i))

first second third forth eleventh

5


5
6
5
5
8

In [13]:
movies=['ifrst','second','third','forth','iffth']
for title in movies:
    print(len(title))
print("\n")
print(len(movies))
print("\n")
for title in movies:
    if('t' in title):
        print(title)

5
6
5
5
5


5


ifrst
third
forth
iffth

In [14]:
numbers=['first','second','third','forth','fifth','sixth','seventh']
for num in numbers:
    print(f"{num:<10}{len(num):>10} chars")

first              5 chars
second             6 chars
third              5 chars
forth              5 chars
fifth              5 chars
sixth              5 chars
seventh            7 chars

In [1]:
movies=["first","second","third","fourth","fifth","sixth","seventh"]
for title in movies:
    print(title)
print(len(movies))
print("\n")
for title in movies:
    print(len(title))

first
second
third
fourth
fifth
sixth
seventh
7


5
6
5
6
5
5
7

In [2]:
movies=["first","second","third","fourth","fifth","sixth","seventh"]
for title in movies:
    print(f"{title:>10}:{len(title):>10} chars")

     first:         5 chars
    second:         6 chars
     third:         5 chars
    fourth:         6 chars
     fifth:         5 chars
     sixth:         5 chars
   seventh:         7 chars

In [9]:
address=[
    ['Ram','15','Alambagh'],
    ['Ramesh','14','Krishna Nagar'],
    ['Shyam','56','Charbagh'],
    ['Prashant','34','Hazrat-ganj'],
    ['Ashish','45','Aminabad'],
    ]
for persons in address:
    print(persons)
print("\n")
for persons in address:
    print(persons[0])

['Ram', '15', 'Alambagh']
['Ramesh', '14', 'Krishna Nagar']
['Shyam', '56', 'Charbagh']
['Prashant', '34', 'Hazrat-ganj']
['Ashish', '45', 'Aminabad']


Ram
Ramesh
Shyam
Prashant
Ashish

In [10]:
address=[
    ['Ram','15','Alambagh'],
    ['Ramesh','14','Krishna Nagar'],
    ['Shyam','56','Charbagh'],
    ['Prashant','34','Hazrat-ganj'],
    ['Ashish','45','Aminabad'],
    ]
for title in address:
    print(f"The age of {title[0]} is {title[1]}")

The age of Ram is 15
The age of Ramesh is 14
The age of Shyam is 56
The age of Prashant is 34
The age of Ashish is 45