- run this command in the terminal
 pip install pandas openpyxl --upgrade

- Grouping and Aggregating

In [24]:
import pandas as pd
import numpy as np

In [25]:
pd.set_option('display.max_columns',None)

In [28]:
file='Canada.xlsx'
canada=pd.read_excel(file, sheet_name=1,skiprows=20,skipfooter=2)

In [32]:
canada['AreaName']  # Series  -only 1 column(1 Dimensional)

0         Asia
1       Europe
2       Africa
3      Oceania
4       Europe
        ...
190       Asia
191     Africa
192       Asia
193     Africa
194     Africa
Name: AreaName, Length: 195, dtype: object

In [29]:
canada  # data frame - 2D data structure

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,1,0,0,0,0,0,1,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,0,0,0,0,0,2,0,0,0,3,0,1,0,0,0,0,0,2,0,0,1,0,2,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,1829,2162,3404,7583,5907,2741,1406,1411,3004,3801,5870,5416,6547,5105,3723,2462,1752,1631,1419,1803,2117,2291,1713,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,2,1,6,0,18,7,12,7,18,4,18,41,41,39,73,144,121,141,134,122,181,171,113,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,17,11,7,16,9,15,23,44,68,77,69,73,46,51,41,34,72,34,51,39,78,50,46,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,114,102,44,32,29,43,68,99,187,129,94,61,72,78,58,39,44,43,49,98,110,191,669,1450,615,454,663,611,508,494,434,437,407

In [33]:
canada.head(2)

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603

In [34]:
canada.tail(6)

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
189,Immigrants,Foreigners,Venezuela (Bolivarian Republic of),904,Latin America and the Caribbean,931,South America,902,Developing regions,103,117,174,124,142,165,179,229,279,304,344,487,610,490,334,402,520,686,489,464,443,560,524,699,1224,1211,1192,1335,1239,1353,998,1452,1373,1022
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,1829,2162,3404,7583,5907,2741,1406,1411,3004,3801,5870,5416,6547,5105,3723,2462,1752,1631,1419,1803,2117,2291,1713,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,2,1,6,0,18,7,12,7,18,4,18,41,41,39,73,144,121,141,134,122,181,171,113,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,17,11,7,16,9,15,23,44,68,77,69,73,46,51,41,34,72,34,51,39,78,50,46,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,114,102,44,32,29,43,68,99,187,129,94,61,72,78,58,39,44,43,49,98,110,191,669,1450,615,454,663,611,508,494,434,437,407

In [35]:
canada.sample(9)

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
73,Immigrants,Foreigners,Guinea-Bissau,903,Africa,914,Western Africa,902,Developing regions,0,0,0,0,1,0,0,0,3,4,4,4,1,2,2,2,3,4,0,1,1,3,2,6,4,7,12,7,2,0,2,2,4,0
189,Immigrants,Foreigners,Venezuela (Bolivarian Republic of),904,Latin America and the Caribbean,931,South America,902,Developing regions,103,117,174,124,142,165,179,229,279,304,344,487,610,490,334,402,520,686,489,464,443,560,524,699,1224,1211,1192,1335,1239,1353,998,1452,1373,1022
71,Immigrants,Foreigners,Guatemala,904,Latin America and the Caribbean,916,Central America,902,Developing regions,114,108,113,366,598,975,1265,1060,702,773,1023,2156,1906,1392,757,640,655,519,358,287,329,269,242,179,217,190,230,258,263,264,266,288,358,345
114,Immigrants,Foreigners,Mongolia,935,Asia,906,Eastern Asia,902,Developing regions,0,0,0,0,0,0,0,0,0,0,1,1,1,0,1,1,8,1,0,1,17,17,20,28,34,59,64,82,59,118,169,103,68,99
90,Immigrants,Foreigners,Kenya,903,Africa,910,Eastern Africa,902,Developing regions,291,296,221,201,218,245,244,628,984,1140,869,605,529,478,414,434,369,223,203,310,495,651,630,678,685,693,622,449,453,489,507,585,725,664
81,Immigrants,Foreigners,Iran (Islamic Republic of),935,Asia,5501,Southern Asia,902,Developing regions,1172,1429,1822,1592,1977,1648,1794,2989,3273,3781,3655,6250,6814,3959,2785,3956,6205,7982,7057,6208,5884,6169,8129,5918,6348,5837,7480,6974,6475,6580,7477,7479,7534,11291
79,Immigrants,Foreigners,India,935,Asia,5501,Southern Asia,902,Developing regions,8880,8670,8147,7338,5704,4211,7150,10189,11522,10343,12041,13734,13673,21496,18620,18489,23859,22268,17241,18974,28572,31223,31889,27155,28235,36210,33848,28742,28261,29456,34235,27509,30933,33087
145,Immigrants,Foreigners,Saint Kitts and Nevis,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,5,3,0,16,21,17,36,43,39,45,32,31,52,29,20,20,18,22,12,9,11,11,8,12,8,11,3,10,25,11,22,12,21,18
148,Immigrants,Foreigners,Samoa,909,Oceania,957,Polynesia,902,Developing regions,3,7,4,1,3,0,3,0,1,1,2,3,1,5,3,2,2,3,4,0,1,2,2,3,3,2,0,1,4,2,5,3,2,0

In [38]:
canada[5:10:2]

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
5,Immigrants,Foreigners,Angola,903,Africa,911,Middle Africa,902,Developing regions,1,3,6,6,4,3,5,5,11,6,8,23,26,22,8,26,38,27,58,49,70,169,168,165,268,295,184,106,76,62,61,39,70,45
7,Immigrants,Foreigners,Argentina,904,Latin America and the Caribbean,931,South America,902,Developing regions,368,426,626,241,237,196,213,519,374,538,678,763,1023,1022,366,380,396,391,349,318,427,635,865,1745,1591,1153,847,620,540,467,459,278,263,282
9,Immigrants,Foreigners,Australia,909,Oceania,927,Australia and New Zealand,901,Developed regions,702,639,484,317,317,319,356,467,410,553,620,640,734,886,702,668,699,623,479,523,599,799,747,876,930,909,875,1033,1018,1018,933,851,982,1121

In [39]:
canada['RegName']  # dict-like access to a Series

0           Southern Asia
1         Southern Europe
2         Northern Africa
3               Polynesia
4         Southern Europe
              ...
190    South-Eastern Asia
191       Northern Africa
192          Western Asia
193        Eastern Africa
194        Eastern Africa
Name: RegName, Length: 195, dtype: object

In [41]:
canada.RegName   # object style access

0           Southern Asia
1         Southern Europe
2         Northern Africa
3               Polynesia
4         Southern Europe
              ...
190    South-Eastern Asia
191       Northern Africa
192          Western Asia
193        Eastern Africa
194        Eastern Africa
Name: RegName, Length: 195, dtype: object

In [49]:
cols=list(range(1980,1991))
canada[cols[:5]]

     1980  1981  1982  1983  1984
0      16    39    39    47    71
1       1     0     0     0     0
2      80    67    71    69    63
3       0     1     0     0     0
4       0     0     0     0     0
..    ...   ...   ...   ...   ...
190  1191  1829  2162  3404  7583
191     0     0     0     0     0
192     1     2     1     6     0
193    11    17    11     7    16
194    72   114   102    44    32

[195 rows x 5 columns]

In [51]:
cols=list(range(1980,1991))
canada[cols].head()

   1980  1981  1982  1983  1984  1985  1986  1987  1988  1989  1990
0    16    39    39    47    71   340   496   741   828  1076  1028
1     1     0     0     0     0     0     1     2     2     3     3
2    80    67    71    69    63    44    69   132   242   434   491
3     0     1     0     0     0     0     0     1     0     1     2
4     0     0     0     0     0     0     2     0     0     0     3

In [53]:
canada[['AreaName','RegName',2013]].head(10)

                          AreaName                    RegName  2013
0                             Asia              Southern Asia  2004
1                           Europe            Southern Europe   603
2                           Africa            Northern Africa  4331
3                          Oceania                  Polynesia     0
4                           Europe            Southern Europe     1
5                           Africa              Middle Africa    45
6  Latin America and the Caribbean                  Caribbean    25
7  Latin America and the Caribbean              South America   282
8                             Asia               Western Asia   207
9                          Oceania  Australia and New Zealand  1121

In [56]:
canada[['Type','Coverage','DEV']].sample(10)

           Type    Coverage  DEV
137  Immigrants  Foreigners  901
95   Immigrants  Foreigners  901
45   Immigrants  Foreigners  902
18   Immigrants  Foreigners  902
185  Immigrants  Foreigners  901
10   Immigrants  Foreigners  901
146  Immigrants  Foreigners  902
175  Immigrants  Foreigners  902
4    Immigrants  Foreigners  901
54   Immigrants  Foreigners  902

In [57]:
canada.set_index('OdName')

,Type,Coverage,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
OdName,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
Albania,Immigrants,Foreigners,908,Europe,925,Southern Europe,901,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603
Algeria,Immigrants,Foreigners,903,Africa,912,Northern Africa,902,Developing regions,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
American Samoa,Immigrants,Foreigners,909,Oceania,957,Polynesia,902,Developing regions,0,1,0,0,0,0,0,1,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
Andorra,Immigrants,Foreigners,908,Europe,925,Southern Europe,901,Developed regions,0,0,0,0,0,0,2,0,0,0,3,0,1,0,0,0,0,0,2,0,0,1,0,2,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Viet Nam,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,1829,2162,3404,7583,5907,2741,1406,1411,3004,3801,5870,5416,6547,5105,3723,2462,1752,1631,1419,1803,2117,2291,1713,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
Western Sahara,Immigrants,Foreigners,903,Africa,912,Northern Africa,902,Developing regions,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
Yemen,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,1,2,1,6,0,18,7,12,7,18,4,18,41,41,39,73,144,121,141,134,122,181,171,113,124,161,140,122,133,128,211,160,174,217
Zambia,Immigrants,Foreigners,903,Africa,910,Eastern Africa,902,Developing regions,11,17,11,7,16,9,15,23,44,68,77,69,73,46,51,41,34,72,34,51,39,78,50,46,56,91,77,71,64,60,102,69,46,59
Zimbabwe,Immigrants,Foreigners,903,Africa,910,Eastern Africa,902,Developing regions,72,114,102,44,32,29,43,68,99,187,129,94,61,72,78,58,39,44,43,49,98,110,191,669,1450,615,454,663,611,508,494,434,437,407

In [60]:
canada.set_index('OdName', inplace=True)

In [63]:
canada.iloc[100]  #101st row

Type               Immigrants
Coverage           Foreigners
AREA                      908
AreaName               Europe
REG                       926
RegName        Western Europe
DEV                       901
DevName     Developed regions
1980                        1
1981                        4
1982                        2
1983                        0
1984                        0
1985                        3
1986                        0
1987                        1
1988                        1
1989                        1
1990                        0
1991                        1
1992                        2
1993                        3
1994                        1
1995                        0
1996                        7
1997                        2
1998                        0
1999                        2
2000                        0
2001                        2
2002                        0
2003                        1
2004                        0
2005                        1
2006                        0
2007                        0
2008                        1
2009                        1
2010                        0
2011                        2
2012                        1
2013                        0
Name: Liechtenstein, dtype: object

In [65]:
canada.iloc[10:20, 2:9]

,AREA,AreaName,REG,RegName,DEV,DevName,1980
OdName,,,,,,,
Austria,908,Europe,926,Western Europe,901,Developed regions,234
Azerbaijan,935,Asia,922,Western Asia,902,Developing regions,0
Bahamas,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,26
Bahrain,935,Asia,922,Western Asia,902,Developing regions,0
Bangladesh,935,Asia,5501,Southern Asia,902,Developing regions,83
Barbados,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,372
Belarus,908,Europe,923,Eastern Europe,901,Developed regions,0
Belgium,908,Europe,926,Western Europe,901,Developed regions,511
Belize,904,Latin America and the Caribbean,916,Central America,902,Developing regions,16
Benin,903,Africa,914,Western Africa,902,Developing regions,2

In [66]:
canada.loc['Japan']

Type               Immigrants
Coverage           Foreigners
AREA                      935
AreaName                 Asia
REG                       906
RegName          Eastern Asia
DEV                       901
DevName     Developed regions
1980                      701
1981                      756
1982                      598
1983                      309
1984                      246
1985                      198
1986                      248
1987                      422
1988                      324
1989                      494
1990                      379
1991                      506
1992                      605
1993                      907
1994                      956
1995                      826
1996                      994
1997                      924
1998                      897
1999                     1083
2000                     1010
2001                     1092
2002                      806
2003                      817
2004                      973
2005                     1067
2006                     1212
2007                     1250
2008                     1284
2009                     1194
2010                     1168
2011                     1265
2012                     1214
2013                      982
Name: Japan, dtype: object

In [70]:
vs=canada.loc[['Japan','France',"India"]],[1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990]

In [73]:
years=list(range(1980,2014))
canada[years].sum()

1980     99137
1981    110563
1982    104271
1983     75550
1984     73417
1985     69978
1986     86048
1987    134771
1988    139306
1989    164432
1990    188054
1991    207509
1992    221687
1993    222049
1994    193665
1995    187712
1996    200085
1997    192885
1998    160727
1999    179818
2000    216712
2001    242643
2002    223111
2003    217297
2004    232083
2005    257457
2006    247057
2007    232405
2008    243047
2009    248768
2010    276956
2011    246194
2012    256222
2013    257537
dtype: int64

In [77]:
canada['Total']=canada[years].sum(axis=1)
canada.head()

,Type,Coverage,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
OdName,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Immigrants,Foreigners,908,Europe,925,Southern Europe,901,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603,15699
Algeria,Immigrants,Foreigners,903,Africa,912,Northern Africa,902,Developing regions,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
American Samoa,Immigrants,Foreigners,909,Oceania,957,Polynesia,902,Developing regions,0,1,0,0,0,0,0,1,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,6
Andorra,Immigrants,Foreigners,908,Europe,925,Southern Europe,901,Developed regions,0,0,0,0,0,0,2,0,0,0,3,0,1,0,0,0,0,0,2,0,0,1,0,2,0,0,1,1,0,0,0,0,1,1,15